[submodule ".\\themes\\hugo-theme-geppaku"]
	path = .\\themes\\hugo-theme-geppaku
	url = https://github.com/masa0221/hugo-theme-geppaku.git
[submodule "public"]
	path = public
	url = https://github.com/kitsu/kitsu.github.io.git
